ion-card{
    --background: #FFF !important;
    border-radius: 0px;

    ion-card-title{
        font-size: 16px;   
    }

    ion-card-content{
        padding-top: 0px;
    }
}

.margin-header-top{
    margin-top: 140px;
}