<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" color="light" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-component-preload *ngIf="preload"></app-component-preload>

<ion-content *ngIf="!preload">
  
  <app-header-top></app-header-top>

  <section class="margin-header-top">
    <ion-card *ngFor="let post of posts" (click)="blogDetail(post)">
      <img [src]="firstImage(post)" [alt]="post.title">
      <ion-card-header>
        <!-- <ion-card-subtitle>POSTED {{ post.createdOn | format: 'LL' }}</ion-card-subtitle> -->
        <ion-card-title>{{ post.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ post.shortDescription }}
      </ion-card-content>
      <!-- <ion-item class="bg-gray">
        <ion-label color="medium">
        <small>READ ARTICLE</small>
        </ion-label>
        <ion-icon name="arrow-forward" slot="end" size="small"></ion-icon>
      </ion-item> -->
    </ion-card>
  </section>

  <app-segment-options></app-segment-options>

</ion-content>
