<ion-header>
  <ion-toolbar mode="ios">
    <ion-title text-center class="text-linear-gradient">About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur temporibus earum voluptatem maiores repellendus excepturi ipsam praesentium, iure saepe deleniti neque, voluptate omnis rem. Debitis ex adipisci incidunt vero soluta.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur temporibus earum voluptatem maiores repellendus excepturi ipsam praesentium, iure saepe deleniti neque, voluptate omnis rem. Debitis ex adipisci incidunt vero soluta.
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur temporibus earum voluptatem maiores repellendus excepturi ipsam praesentium, iure saepe deleniti neque, voluptate omnis rem. Debitis ex adipisci incidunt vero soluta.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur temporibus earum voluptatem maiores repellendus excepturi ipsam praesentium, iure saepe deleniti neque, voluptate omnis rem. Debitis ex adipisci incidunt vero soluta.
  </p>
</ion-content>
