<ion-header>
  <ion-toolbar mode="ios">
    <ion-title text-center class="text-linear-gradient">Create your account</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="primary"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col sizeXl="12" sizeSm="6" offsetSm="3">
        <form [formGroup]="registerForm">
          <ion-label>Name</ion-label>
          <ion-input type="text" clearInput placeholder="Write your name" color="medium" class="ion-input-custom" formControlName="firstName"></ion-input>
          
          <section class="validation-form" *ngIf="registerForm.get('firstName').errors && registerForm.get('firstName').dirty">
            <ion-note color="danger" *ngIf="registerForm.get('firstName').hasError('required')"><p>Is required</p></ion-note>
          </section>

          <ion-label>Nationality</ion-label>
          <ion-select placeholder="Select your nationality" class="ion-select-custom" formControlName="nationality">
            <ion-select-option [value]="country.code" *ngFor="let country of optionsContries">{{ country.name }}</ion-select-option>
          </ion-select>

          <section class="validation-form" *ngIf="registerForm.get('nationality').errors && registerForm.get('nationality').dirty">
            <ion-note color="danger" *ngIf="registerForm.get('nationality').hasError('required')"><p>Is required</p></ion-note>
          </section>
      
          <ion-label>Email</ion-label>
          <ion-input type="email" clearInput placeholder="Your email" color="medium" class="ion-input-custom" formControlName="email"></ion-input>
          
          <section class="validation-form" *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty">
            <ion-note color="danger" *ngIf="registerForm.get('email').hasError('required')"><p>Is required</p></ion-note>
            <ion-note color="danger" *ngIf="registerForm.get('email').hasError('email')"><p>Invalid email</p></ion-note>
          </section>

          <ion-label>Password</ion-label>
          <ion-input type="password" clearInput placeholder="Your password" color="medium" class="ion-input-custom" formControlName="password"></ion-input>
          
          <section class="validation-form" *ngIf="registerForm.get('password').errors && registerForm.get('password').dirty">
            <ion-note color="danger" *ngIf="registerForm.get('password').hasError('required')"><p>Is required</p></ion-note>
            <ion-note color="danger" *ngIf="registerForm.get('password').hasError('minlength')"><p>Min 6 characters</p></ion-note>
          </section>


          <ion-button [disabled]="!registerForm.valid" (click)="onFormSubmit(registerForm.value)" class="btn-linear-gradient" shape="round" expand="block" size="medium" style="margin-top: 50px;">ALMOST DONE!</ion-button>
      
          <ion-text text-center color="medium">
            <p><small>Be signing up you agree to our Team of Service & <br> Privacy Policy</small></p>
          </ion-text>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
